{% extends "base.html" %}

{% block title %}
Добавление
{% endblock%}

{% block index %}

<!-- Page content-->
<section class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                        class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Новый именинник</h1>
                <p class="lead fw-normal text-muted mb-0">Заполните форму</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form method="post" id = "humanform">



            {% csrf_token %}
            {{ form.as_p}}



                        <!-- Submit Button-->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Добавить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
