{% extends "base.html" %}

{% block title %}
Удаление
{% endblock%}

{% block index %}

<!-- Page content-->
<section class="py-5" xmlns="http://www.w3.org/1999/html">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                        class="bi bi-envelope"></i></div>
<!--                <h1 class="fw-bolder">Новый именинник</h1>-->
                <p class="lead fw-normal text-muted mb-0">Выберите из списка для удаления</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
<!--                    <form  method="post" id = "deletehumanform">-->

<form  method="post" action="{% url 'blog_site:delete' %}">
                    {% csrf_token %}
    <select multiple name="list_to_delete">
        {%for field in birthday%}
                <option>{{field}}</option>
               {%endfor%}
             </select>


                             <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" id="submitButton"
                           type="submit">удалить</button>

                        <!-- Submit Button-->
<!--                        <div class="d-grid">-->
<!--                            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Удалить-->
<!--                            </button>-->

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
