{% extends "base.html" %}
{% block title %}
Главная
{% endblock%}

{% load static %}


<header class="py-5">
    <hr>

    {% block index %}
    <div class="container px-5 pb-5">

        <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
            <div class="text-uppercase">{{date_time}}</div>
        </div>

        <h2 class="display-5 fw-bolder"> Добро пожаловать, <span class="text-gradient d-inline">{{user.username}}</span>
        </h2>
        {% if user.image %}
        <img src="{{user.image.url}}" width="200">
        {% else %}
        <img src="{% static 'assets/non_avatar.png' %}" width="200">
        {% endif %}


        <div class="row gx-5 align-items-center">

            <div class="col-xxl-5">

                <!-- Header text content-->

                <div class="text-center text-xxl-start">
            {% if story %}
                  <span style="color: green;">Последнее добавление:</span>
               <p>{{story}}</p>
                     {% endif %}
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">

                    </div>

                </div>
            </div>

            <div class="col-xxl-7">


                <div class="d-flex justify-content-center mt-5 mt-xxl-0">


                    <img src="{% static 'assets/profile.png' %}" width="600">


                </div>
            </div>
        </div>
    </div>

</header>
<hr>
    <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-3">

                    <h4 class="display-5 fw-bolder"><span class="text-gradient d-inline">{{name_bot}}</span></h4>

                    </div>
                </div>
            </div>
{% endblock %}
