{% extends "base.html" %}

{% block title %}
Сообщения
{% endblock%}
{% load static %}
{% block index %}
<!-- Projects Section-->

<style>
   .outline {
    border: 1px solid orange;
    padding: 0 10px;
   }

</style>
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <!--                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>-->
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">

                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder"
                                   href="{% url 'blog_site:messages_create' %}">Новое сообщение, напоминание</a>


                                <h2 class="fw-bolder">Всего напоминаний ({{count_messages}}) </h2>

                                <p> {%for i in reminder%}
                                <hr>

                                <div class="outline">
                                    <b>{{ page_obj.number }})</b>
                                    <p>
                                  <i>  {{i.reminder}}</i>
                                </div>
                                <p>Напомнить - {{i.day}} : {{i.month}}</p>
                                <hr>
                                <a href="{% url 'blog_site:messages_delete' pk=i.pk %}" style="color: red;">удалить</a>
                                /
                                <a href="{% url 'blog_site:messages_update' pk=i.pk %}"> изменить</a>

                                {% endfor %}

                                <hr>
                                <div class="pagination">
                                 <span class="step-links">
        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" style="text-align: center"><button>&laquo;</button></a>
                         <a href="?page=1" style="text-align: center"><button>1</button></a>

        {% endif %}
           ......<a href="{% url 'blog_site:messages_create' %}" title="Добавить" style="text-align: center"><button>+</button></a>......
        {% if page_obj.has_next %}

    <a href="?page={{ page_obj.paginator.num_pages }}" style="text-align: center"><button>{{ page_obj.paginator.num_pages }}</button></a>
    <a href="?page={{ page_obj.next_page_number }}" style="text-align: center"><button>&raquo;</button></a>
        {% endif %}
    </span>
                                </div>
                            </div>
                            <img class="img-fluid" src="{% static 'assets/reminder.png' %}" alt="..."/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-3">

                    <h4 class="display-5 fw-bolder"><span class="text-gradient d-inline">{{name_bot}}</span></h4>
<hr>
                    </div>
                </div>
            </div>
{% endblock %}
