{% extends "base.html" %}

{% block title %}
Сообщения
{% endblock%}
{% load static %}
{% block index %}
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
<!--                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>-->
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">

<a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'blog_site:messages_create' %}">Новое сообщение, напоминание</a>


                                            <h2 class="fw-bolder">Ваши напоминания ({{count_messages}}) </h2>

                                            <p>    {%for i in reminder%}
                                            <hr>
                        <p>{{i}}</p>


 <a href="{% url 'blog_site:messages_delete' pk=i.pk %}">
            удалить
     </a>
                     {% endfor %}
                                        </div>

                                        <img class="img-fluid" src="{% static 'assets/reminder.png' %}" alt="..." />
                 </section>


    </body>
</html>
{% endblock %}